.logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo i{
    font-size: 4vw;
    transition: .5s;
    color: silver;
}

.logo i:hover{
    color: gold;
}

.logo-title{
    margin-right: 15px;
    margin-bottom: 15px;
}

.fa-title{
    font-size: 2.5vw;
    text-align: center;
    height: fit-content;
}
.en-title{
    font-family: monospace;
    font-size: .7vw;
    text-align: center;
}
