@font-face {
  font-family: Vazir;
  src: url(../Fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Black.ttf) format(truetype);
}
@font-face {
  font-family: Amin;
  src: url(../Fonts/amin.ttf) format(truetype);
}

@font-face {
  font-family: yekan;
  src: url(../Fonts/B_Yekan/Yekan.ttf) format(truetype);
}
